<div class="div-box">
    <span class="div-box-header">
        <h1>{{__("Refus de réservation")}}</h1>
    </span>
    <div class="div-box-body bg-white">        
        <h1 style="color:#0000ff">{{__("Refus validé !")}}</h1>
        <p>{{__("Votre client sera avisé par email de votre refus et son motif.")}}</p>
        <p>&nbsp;</p>
        <p>{{__("L'équipe de autour2vous vous remercie et vous souhaite une bonne journée.")}}</p>
    </div>
</div>