<div class="div-box">
    <span class="div-box-header">
        <h1>{{__("Refus de réservation")}}</h1>
    </span>
    <div class="div-box-body bg-white">        
        <h1 style="color:#F62459">{{__("Refus non validé !")}}</h1>
        <p>{{__("Le refus a déjà été validé ou ne peut pas/plus l'être.")}}</p>
        <p>&nbsp;</p>
        <p><i>{{__("L'équipe de autour2vous vous remercie et vous souhaite une bonne journée.")}}</i></p>
    </div>
</div>