<div class="div-box">
    <span class="div-box-header">
        <h1>{{__("Validation de réservation")}}</h1>
    </span>
    <div class="div-box-body bg-white">        
        <h1 style="color:#0000ff">{{__("Réservation validée !")}}</h1>
        <p>{{__("Votre client sera avisé par email de la validation sa réservation.")}}</p>
        <p>&nbsp;</p>
        <p><i>{{__("L'équipe de autour2vous vous remercie et vous souhaite une bonne journée.")}}</i></p>
    </div>
</div>