<div class="div-box">    
    <div class="div-box-body bg-white">
        <form action="/client/login" method="post" id="login-form">                 
            <input type="email" name="email" placeholder="{{__("E-mail")}}" required="required" /><br />
            <input type="password" name="password" placeholder="{{__("Mot de passe")}}" required="required" /><br />
            <input type="submit" class="btn-form btn-form-p" value="{{__("Connexion")}}" />
        </form>
    </div>
</div>