<span class="ariane-header">
    <h1><a href="/admin">Accueil</a> -> <a href="/admin/prospect">Prospects</a> -> Rechercher</h1>
</span>

<div class="div-box-main"> 
    <span class="div-box">
        <span class="div-box-header">
            <h1>Recherche par critère</h1>
        </span>
        <div class="div-box-body bg-white">
            <form action="/admin/prospect/search" method="post">            
                <input type="text" name="company" placeholder="Nom de l'entreprise"/>
                <input type="text" name="city" placeholder="Ville"/><br />
                <input type="text" name="postalcode" placeholder="Code postal" />
                <input type="text" name="comment" placeholder="Commentaire" /><br />

                <select name="category">                    
                    <option value="">Choisir une catégorie</option>
                    <option value="Restaurant" selected="selected">Restaurant</option>                    
                    <option value="Café/Pub">Café/Pub</option>
                    <!--<option value="Pub/Restaurant">Pub/Restaurant</option>-->                    
                </select>
                
                <select name="interested">
                    <option value="">Intéressé(e) ?</option>                    
                    <option value="6">Wonderbox</option>
                    <option value="5">Trip Advisor</option>                    
                    <option value="4">La Fourchette</option>
                    <option value="1">Intéressé</option>                    
                    <option value="3">Très intéressé</option>
                    <option value="2">Pas intéressé</option>                    
                </select><br />

                <select name="email_sent">
                    <option value="">Email envoyé ?</option>
                    <option value="1">oui</option>
                    <option value="0">non</option>
                </select>    

                <!--<select name="tobecontacted">
                    <option value="">A recontacter ?</option>
                    <option value="1">oui</option>
                    <option value="2">non</option>
                </select> -->
                
                <select name="email_subscription_sent">
                    <option value="">Inscription envoyée ?</option>
                    <option value="1">oui</option>
                    <option value="0">non</option>
                </select> <br />
                
                {% if admin.status == 1 %}
                <select name="admin_creation">
                    <option value="" selected="selected">Ajouté par ?</option>
                    <option value="admin">Admin</option>
                    <option value="anthony">Anthony</option>
                    <option value="eric.meou">Eric Méou</option>
                    <!--<option value="Pub/Restaurant">Pub/Restaurant</option>-->                    
                </select><br />
                {%endif%}
                <input type="submit" class="btn-form btn-form-p" value="rechercher" />
            </form>
        </div>
    </span>

    <span class="div-box">
        <span class="div-box-header">
            <h1>Recherche à proximité</h1>
        </span>
        <div class="div-box-body bg-white">
            <form action="/admin/prospect/search-nearby" method="post" id="form-search-nearby">        
                <label>Autour de moi</label>
                <select name="range" id="select-range">
                    <option value="0">jusqu'à une distance de</option>
                    <option value="1000">1 km</option>
                    <option value="2000">2 km</option>
                    <option value="5000">5 km</option>
                    <option value="10000">10 km</option>
                    <option value="20000">20 km</option>
                    <option value="50000">50 km</option>
                    <option value="100000">100 km</option>
                    <option value="500000">500 km</option>        
                </select>    
                <!--<input type="submit" class="btn-form btn-form-p" value="rechercher" />-->
            </form>
        </div>
    </span>
</div>