<div class="div-box">
    <span class="div-box-header">
        <h1>{{__("Validation des QR Codes")}}</h1>
    </span>
    <div class="div-box-body bg-white">                
        <h1 style="color:#F62459">{{__("QR Code déjà validé ou erroné !")}}</h1>
        <p>{{__("Cette action ne sera pas comptabilisée sur la facture du mois en cours.")}}</p>
        <p>&nbsp;</p>
        <p><i>{{__("L'équipe de autour2vous vous remercie et vous souhaite une bonne journée.")}}</i></p>
    </div>
</div>