<div class="div-box">
    <span class="div-box-header">
        <h1>{{__("Validation des QR Codes")}}</h1>
    </span>
    <div class="div-box-body bg-white">        
        <h1 style="color:#0000ff">{{__("QR Code validé !")}}</h1>
        <p>{{__("Ce QR code sera comptabilisé sur la facture du mois en cours.")}}</p>
        <p>&nbsp;</p>
        <p><i>{{__("L'équipe de autour2vous vous remercie et vous souhaite une bonne journée.")}}</i></p>
    </div>
</div>