<span class="ariane-header">
    <h1>Inscription</h1>
</span>

<div class="div-box-main"> 
    <span class="div-box">                
        <div class="div-box-body">
            <h1 style='color: #ff0000'>{{__("L'inscription a échoué.")}}</h1>
            <p align="center">
                <a href="/client" title="{{__("Inscription")}}"><span class="button">{{__("réessayer")}}</span></a>
            </p>
        </div>
    </span>
</div>