<h2>Conditions générales de vente</h2><br />
<h3>Article 1 : Objet</h3>
<p>Les conditions générales de vente décrites ci-après détaillent les droits et obligations de la société autour2vous SAS et de son client restaurateur dans le cadre de la vente du service suivant : prise de réservation automatisée entre un utilisateur et le client.</p>
<p>Toute commande accomplie par la société autour2vous SAS implique donc l'adhésion sans réserve de l'acheteur aux présentes conditions générales de vente.</p><br />
<h3>Article 2 : Définitions</h3>
<ul>
    <li>Utilisateur : toute personne physique utilisant le système de réservation proposé par la société autour2vous SAS.</li>
    <li>Commande : toute réservation effectuée par le utilisateur et validée par le client via son interface Internet dédiée.</li>
    <li>Prestation : l'ensemble des réservations effectuées du mois à facturer.</li>
    <li>Livraison : premier jour de chaque mois suivant la prestation effectuée.</li>
</ul><br />
<h3>Article 3 : Prix</h3>
<p>Les prix des services vendus sont ceux en vigueur au jour de la prise de commande. Ils sont libellés en euros et calculés hors taxes. Par voie de conséquence, ils seront majorés du taux de TVA.</p>
<p>La société autour2vous SAS 52 euros HT par mois pour un nombre illimité de réservations, dont deux euros seront reversés en fin d'exercice à l'association caritative en vigueur.</p>
<p>La société autour2vous SAS s'accorde le droit de modifier ses tarifs à tout moment. Toutefois, elle s'engage à facturer les services commandés aux prix de l'année en cours.</p><br />
<h3>Article 4 : Rabais et ristournes</h3>
<p>Aucun rabais ni ristourne ne seraient applicables à la prestation de service proposée par la société autour2vous SAS.</p><br />
<h3>Article 5 : Escompte</h3>
<p>Aucun escompte ne sera consenti en cas de paiement anticipé.</p><br />
<h3>Article 6 : Modalités de paiement</h3>
<p>Le règlement des commandes s'effectue par prévèvement SEPA.</p>
<p>Chaque facturation sera mensuelle et sera disponible à partir du premier jour de chaque mois. Le paiement aura lieu au plus tard quatorze jours calendaires suivant la facturation, soit le quinze de chaque mois.</p><br />
<h3>Article 7 : Retard de paiement</h3>
<p>En cas de défaut de paiement total ou partiel des prestations livrées au jour de la réception, l'acheteur doit verser à la société autour2vous SAS une pénalité de retard égale à trois fois le taux de l'intérêt légal.</p>
<p>Tout retard conduira automatiquement à une suspension du compte et mettra en suspens le système de réservation.</p>
<p>Le taux de l'intérêt légal retenu est celui en vigueur au jour de la livraison des prestations de services.</p>
<p>A compter du 1er janvier 2015, le taux d'intérêt légal sera révisé tous les 6 mois (Ordonnance n°2014-947 du 20 août 2014).Cette pénalité est calculée sur le montant TTC de la somme restant due, et court à compter de la date d'échéance du prix sans qu'aucune mise en demeure préalable ne soit nécessaire.</p>
<p>En sus des indemnités de retard, toute somme, y compris l’acompte, non payée à sa date d’exigibilité produira de plein droit le paiement d’une indemnité forfaitaire de 40 euros due au titre des frais de recouvrement. Articles 441-6, I alinéa 12 et D. 441-5 du code de commerce.</p><br />
<h3>Article 8 : Clause résolutoire</h3>
<p>Si dans les quinze jours qui suivent la mise en oeuvre de la clause "Retard de paiement", l'acheteur ne s'est pas acquitté des sommes restant dues, la vente sera résolue de plein droit et pourra ouvrir droit à l'allocation de dommages et intérêts au profit de la société autour2vous SAS. La société autour2vous SAS se réserve le droit de bloquer son compte ou de résilier de plein droit son inscription.</p><br />
<h3>Article 9 : Clause de réserve de propriété</h3>
<p>Cette clause est non applicable en raison de la nature de la vente : prestation de services.</p><br />
<h3>Article 10 : Livraison</h3>
<p>La livraison est effectuée de façon immédiate dès lors que le client accepte la réservation de l'utilisateur.</p>
<p>De part la nature de la prestation aucun retard de livraison n'est possible. La livraison est immédiate.</p>
<p>Dans le cadre d'un abonnement illimité, la non présentation au rendez-vous de l'utilisateur n'aura aucun incidence sur la facturation qui reste fixe. Un blocage temporaire de l'utilisateur absent sera pratiqué systématiquement.
<p>Toute tentative de fraude ou de détournement de l'utilisateur par le client conduira à résiliation de plein droit de son inscription ainsi qu'à des poursuites.</p><br />
<h3>Article 11 : Obligations du client</h3>
<p>Le client s'abstient de toute copie ou reproduction quelle qu'elle soit de l'interface proposée au client sous peine de poursuites.</p>
<p>Le client s'engage a payer la somme de 52 euros HT tous les mois pendant les douze mois d'engagement prévus par le présent contrat.</p><br />
<h3>Article 12 : Force majeure</h3>
<p>La responsabilité de la société autour2vous SAS ne pourra pas être mise en oeuvre si la non-exécution ou le retard dans l'exécution de l'une de ses obligations décrites dans les présentes conditions générales de vente découle d'un cas de force majeure. À ce titre, la force majeure s'entend de tout événement extérieur, imprévisible et irrésistible au sens de l'article 1148 du Code civil.</p><br />
<h3>Article 13 : Tribunal compétent</h3>
<p>Tout litige relatif à l'interprétation et à l'exécution des présentes conditions générales de vente est soumis au droit français.</p>             
<p>A défaut de résolution amiable, le litige sera porté devant le Tribunal de commerce de Tarascon (13150).</p><br />
<p>Le Président,</p>
<p>M. David CHABRIER</p>