<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="google-site-verification" content="ICca0dezsjs4sgMMcZSgilXLP7WkWGRyGlZPX-aC408" />
    <meta name="msvalidate.01" content="16F0F8E869D560E8403C4932A7A38C7F" />
    <meta name="keywords" content="autour2vous, autourdevous, autour de vous, réservation, restaurant, pub, bar, hotel, taxi, événement, où sortir ce soir" />
    <meta name="description" content="site de bons plans 100% gratuit, réductions auprès des artisans et commerçants locaux, réservations auprès de restaurants et hôtels. " />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1, user-scalable=no" />
    <meta http-equiv="ScreenOrientation" content="rightHanded">
    <link rel="icon" href="static/image/favicon.ico" />

    <!-- Latest compiled and minified CSS -->
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"-->
    <link rel="stylesheet" href="static/css/a2v/bootstrap.min.css">
    <!-- Optional theme -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">-->
    <link rel="stylesheet" href="static/css/a2v/style.css">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <title>autour2vous</title>
  </head>
  <body>
    <header>
      <span class="logo"><span class="pink">autour<span class="white">2</span>vous</span></span>
      <nav>
        <ul>
          <li><span> | </span><a href="/logout" title="Déconnexion">Déconnexion</a></li>
          <li><a href="#" title="Recherche" class="dc-modal-click"
          data-id="#search-alert">Recherche</a></li>
        </ul>
      </nav>
    </header>

    <section id="container">
      <article class="container">
        <div class="dc-modal-bg">
            <div id="search-alert" class="dc-modal">
              <form method="post" action="/search">
                <h2 id="login">Rechercher des bons plans</h2>
                <div class="form-group">
                  <label for="article">article</label>
                  <input type="search" class="form-control" name="article" id="article" placeholder="monAdresseEmail" required="required" />
                </div>
                <div class="form-group">
                  <label for="category">categorie</label>
                  <input type="search" class="form-control" name="category" id="category" placeholder="votre mot de passe" required="required"/>
                </div>
                <button type="submit" class="btn btn-primary btn-lg">rechercher</button>
              </form>
              <hr />
              <button type="button" class="btn btn-danger btn-lg dc-modal-close-click">Fermer</button>
            </div>
        </div>
      <div class="row">
        <div class="col-xs-12">
          <p>Bonjour {{user.nickname}}</p>

        </div>
      </div>
    </section>

    <footer>
      <ul>
        <li><a href="#">Mentions légales</a></li>
      </ul>
    </footer>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false&key=AIzaSyCcfYZ82g5_EVba-TuXh81eCl0sbWN-Isg"></script>
    <script src="js/user-home.js"></script>
  </body>
</html>